<h1>Books</h1>
<div>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinoin</th>
    </tr>
    </thead>
    <% @books.each do |book| %>
    <tbody>
    <tr>
      <td><% if @user.id == current_user.id %>
      <p><%= link_to "プロフィール画像", edit_user_path(@user) %></p>
      <% end %></td>
       <td><%= link_to book.title, book_path(book.id) %></td>

      <td><%= book.body %></td>

    </tr>
    </tbody>
    <% end %>
  </table>
</div>